<h1>Show</h1>

<div>

  <dl>
    <dt>Count</dt>
    <dd><%= @record.count %></dd>

    <dt>Temperature</dt>
    <dd><%= @record.ave_temperature %></dd>

    <dt>Light</dt>
    <dd><%= @record.ave_light %></dd>

    <dt>Humidity</dt>
    <dd><%= @record.ave_humidity %></dd>

  </dl>

</div>
